<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Receivor</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.mangocity.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login.do</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>setHeaderCrossDomain</filter-name>
		<filter-class>com.mangocity.filter.CorsFilter</filter-class>
		<init-param>
			<param-name>allowOrigin</param-name>
			<param-value>http://test.mangocity.com:8080</param-value>
		</init-param>
		<init-param>
			<param-name>allowMethods</param-name>
			<param-value>post</param-value>
		</init-param>
		<init-param>
			<param-name>allowHeaders</param-name>
			<param-value>x-requested-with,content-type</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>setHeaderCrossDomain</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
	<!-- 注意,url-pattern后缀名不同 *.action请求不添加Access-Control-Allow-Origin响应头信息,利用jsonp跨域-->
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.mangocity.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register.action</url-pattern>
	</servlet-mapping>
</web-app>